.stock-notifications {
  margin-top: 20px;
}

.stock-notifications h2 {
  margin-bottom: 10px;
}

.stock-notifications ul {
  list-style-type: none;
  padding: 0;
}

.stock-notifications li {
  margin-bottom: 10px;
}

.stock-notifications li span {
  display: block;
}
